{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3">
<!--            style="width: 15rem;"-->
            <div class="card" style="margin-bottom:20px;" >
            <img src="{{i.img.url}}" class="card-img-top" alt="..." height="330" width="180">
             <div class="card-body">
            <h5 class="card-title">{{i.name}}</h5>
<!--    <p class="card-text">{{i.desc}}</p>-->
             <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-warning">View Details</a>
            </div>
            </div>
        </div>

        {% endfor %}
    </div>

</div>

{% endblock %}

